:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* src/index.css */
body {
  background-color: #F8FEF4;
}

.navbar {
  background-color: #FF9934;
}

.nav-link {
  color: #000000;
}

.navbar-brand {
  color: #0f64d3;
  font-size: 1.5em;
}

.cart-widget {
  display: flex;
  align-items: center;
}

.badge {
  margin-left: 5px;
  color: #ffffff;
}

.item-list-container {
  padding: 20px;
  text-align: center;
}

.product-image {
  width: auto; /* Asegura que la imagen ocupe el ancho completo del contenedor */
  max-height: 200px; /* Ajusta la altura de las imágenes a 200px */
  object-fit: contain; /* Recorta la imagen para llenar el contenedor manteniendo su proporción */
  padding: 10px;
}

.item-list-container h2 {
  padding: 10px;
}